<% if type == "success" %>
    <div class="bg-green-200 border-green-600 text-green-600 border-l-4 p-4" role="alert">
        <p class="font-bold">
            Success
        </p>
        <p>
            <%= message %>
        </p>
    </div>
<%elsif type == "info" %>
    <div class="bg-indigo-200 border-indigo-600 text-indigo-600 border-l-4 p-4" role="alert">
        <p class="font-bold">
            Info
        </p>
        <p>
            <%= message %>
        </p>
    </div>
<% else %>
    <div class="bg-red-200 border-red-600 text-red-600 border-l-4 p-4" role="alert">
        <p class="font-bold">
            Error
        </p>
        <p>
            <%= message %>
        </p>
    </div>
<% end %>
