<%= render 'shared/header' %>

<main class="py-10 max-w-7xl mx-auto px-4 sm:px-8">
    <%= form_for(@profile, builder: TailwindInputBuilder) do |form| %>
        <div class="flex justify-end items-center w-full mb-4">
            <div>
                <%= render 'shared/input/buttons/secondary', color: "green", label: "Preview", href: "/profiles?id=#{current_user.profile.id}"%>
                <%= form.submit "Save", class: "flex-shrink-0 px-4 py-2 text-base font-semibold text-white bg-green-600 rounded-lg shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 focus:ring-offset-green-200" %><br/>
            </div>
        </div>

        <%= render 'shared/edit_section', title: "Profile details" do %>
            <%= form.text_field :name, value: @profile.name || current_user.name, placeholder: "Name" %><br/> 
            <div class="flex items-center my-4">
                <%= image_tag avatar_url_for(current_user), 
                    id: "image-preview", style:"max-width:200px"
                %>
            </div>
            <%= form.file_field :avatar %>
            <%= form.text_field :job_title, value: @profile.job_title, placeholder: "Job title" %><br/>
            <%= form.text_field :total_experience, value: @profile.total_experience, placeholder: "Total experience" %><br/>
            <%= form.text_area :overview, value: @profile.overview, placeholder: "Profile overview", required: true %><br/>
            <p>Career Highlights</p>
            <%= form.text_field :career_highlights, value: concat_str_with_comma(@profile.career_highlights), placeholder: "Career highlights" %>
            <%= render 'shared/multiple_inputs_message' %>
            
            <p>Primary Skills</p>
            <%= form.text_field :primary_skills, value: concat_str_with_comma(@profile.primary_skills), placeholder: "Primary skills" %>
            <%= render 'shared/multiple_inputs_message' %>
            
            <p>Secondary Skills</p>
            <%= form.text_field :secondary_skills, value: concat_str_with_comma(@profile.secondary_skills), placeholder: "Secondary skills" %>
            <%= render 'shared/multiple_inputs_message' %>
            
        <% end %>

        <%= render 'shared/edit_section', title: "Education" do %>
            <%= form.fields_for :educations do |education| %>
                <%= render 'shared/input/education', education: education %>
            <% end %><br />
            <%= render 'shared/input/buttons/add', label: "+ Add Education", path: "/educations/new" %>
        <% end %>

        <%= render 'shared/edit_section', title: "Experience" do %>
            <%= form.fields_for :experiences do |experience| %>
                <%= render 'shared/input/experience', experience: experience %>
            <% end %><br />
            <%= render 'shared/input/buttons/add', label: "+ Add experience", path: "/experiences/new" %>
        <% end %>
        
    <% end %>

</main>