<%= render 'shared/header' %>



<main class="py-10 max-w-7xl mx-auto px-4 sm:px-8">
    <div class="flex justify-between align-center">
        <h1 class="text-3xl"> 
            Welcome, <span class="text-purple-600 font-semibold"><%= @user.name %><span>
        </h1>

        <%# Button for copying the unique URI %>
        <%= render 'shared/input/buttons/secondary', color: "pink", id: 'share-button', label: "Share", href: "/profiles?id=#{@user.profile.id}"%>
        <%= render 'shared/input/buttons/secondary', color: "green", label: "Preview", href: "/profiles?id=#{@user.profile.id}"%>
        <%= render 'shared/input/buttons/secondary', color: "purple", label: "Edit", href: edit_url %>
    </div>
    
    <%= render 'shared/profile/preview', profile: @user.profile %>

    <%# Mini-script to copy the url to clipboard %>
    <%= javascript_tag type: 'application/javascript' do -%>
    
        const element = document.getElementById('share-button');
        element?.addEventListener('click', (event) => {
            event.preventDefault();
            navigator.clipboard.writeText(event.target.href);
            event.target.innerText = 'Copied!';
            setTimeout(()=>{event.target.innerText = 'Share';},2000);
            }
        );
<% end -%>
</main>
