<div class="mt-8 text-gray-500">
    <%= render 'shared/profile/item_with_description', 
        title: experience.company,
        subtitle: experience.position,
        start_date: experience.start,
        end_date: experience.end,
        description: experience.description
    %>
    <%= render 'shared/profile/profile_section_card', title: "Projects" do %>
        <%= render partial: 'shared/profile/project', collection: experience.projects %>
    <% end %>
</div>