<div class="flex justify-between flex-col lg:items-center lg:flex-row">
    <h3 class="text-2xl font-bold"><%= title %></h3>
    <a href=<%= url %> class="text-xl "><%= url %></h4>
</div>
<h4 class="text-lg font-bold"><%= subtitle %></h4>
<p class="mt-1 text-justify"><%= description %></p>
