<div class="flex flex-col md:flex-row py-10 max-w-7xl mx-auto px-4 sm:px-8">

    <div class="w-full lg:w-4/12 mr-10">
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-md rounded-lg mt-20">
            <div class="px-6">
                <div class="flex flex-wrap justify-center mb-10">
                    <%= image_tag avatar_url_for(@user), 
                        id: "image-preview", style:"max-width:200px", 
                        class: "shadow-xl rounded-full absolute w-1/2 transform -translate-y-1/2" 
                    %>
                    <div class="w-full px-4 text-center mt-28">
                        <h3 class="text-2xl text-purple-600 font-bold leading-normal mb-2 text-blueGray-700 mb-2">
                            <%= profile.name %>
                        </h3>
                        <div class="text-sm leading-normal mt-0 mb-2 text-blueGray-400 font-bold uppercase">
                            <%= profile.job_title %>
                        </div>
                    </div>
                </div>

                <!-- Career Highlights section -->
                <%= render 'shared/profile/profile_section_with_heading', heading: "Career Highlights" do %>
                    <%= render 'shared/profile/card_list' do %>
                            <%= render partial: "shared/profile/card_list_item", collection: profile.career_highlights %>
                    <% end %>
                <% end %>

                <!-- Total Experience section -->
                <%= render 'shared/profile/profile_section_with_heading', heading: "Total Experience" do %>
                    <p class="text-gray-500"><%= profile.total_experience %></p>
                <% end %>

                <!-- Primary Skills section -->
                <%= render 'shared/profile/profile_section_with_heading', heading: "Primary Skills" do %>
                    <%= render "shared/profile/badge_container", color: "purple", items: profile.primary_skills %>
                <% end %>

                <!-- Secondary Skills section -->
                <%= render 'shared/profile/profile_section_with_heading', heading: "Secondary Skills" do %>
                    <%= render "shared/profile/badge_container", color: "indigo", items: profile.secondary_skills %>
                <% end %>


            </div>
        </div>
    </div>

    <div class="w-full lg:w-8/12">
        <%= render 'shared/profile/profile_section_card', title: "Profile overview" do %>
            <p class="my-4 text-lg text-gray-500 text-justify">
                <%= profile.overview %>
            </p>
        <% end %>

        <%# Experience Section %>
        <%= render 'shared/profile/profile_section_card', title: "Experience" do %>
            <%= render partial: 'shared/profile/experience', collection: profile.experiences %>
        <% end %>

        <%= render 'shared/profile/profile_section_card', title: "Education" do %>
            <%= render partial: 'shared/profile/education', collection: profile.educations %>
        <% end %>

    </div>

</div>