<div class="mt-8 text-gray-500">
    <%= render 'shared/profile/item_with_url', 
        title: project.title,
        subtitle: project.tech_stack,
        description: project.description,
        url: project.url 
    %>
</div>